.mat-card {
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 2px;
  padding-top: 3px;
}

::ng-deep .mat-form-field-underline {
  display: none !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep .mat-form-field-infix {
  border-top: 0px !important;
}

.inputBoxBorder {
  border: 1px solid rgba(34, 36, 38, .15) !important;
  color: rgba(0, 0, 0, .87);
  border-radius: .28571429rem;
  font-size: 14px;
  text-align: start;
  padding-left: 10px;
}

/* You can add global styles to this file, and also import other style files */

@media (min-width: 1281px) {
  .complaint-text {
    color: black;
    font-size: 12px;
    font-family: Poppins;
  }
  ::ng-deep .mat-autocomplete-panel {
    max-height: 256px !important;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .complaint-text {
    color: black;
    font-size: 12px;
    font-family: Poppins;
  }
  ::ng-deep .mat-autocomplete-panel {
    max-height: 256px !important;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .complaint-text {
    color: black;
    font-size: 12px;
    font-family: Poppins;
  }
  ::ng-deep .mat-autocomplete-panel {
    max-height: 150px !important;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .complaint-text {
    color: black;
    font-size: 12px;
    font-family: Poppins;
  }

  ::ng-deep .mat-autocomplete-panel {
    max-height: 150px !important;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .complaint-text {
    color: black;
    font-size: 12px;
    font-family: Poppins;
  }

::ng-deep .mat-autocomplete-panel {
  max-height: 150px !important;
}
}



.mat-form-field-wrapper{
  width: 100% !important;
}
.mat-focused .placeholder{
  color:transparent;
}

