/* You can add global styles to this file, and also import other style files */

.font_patient_title {
  color: black !important;
  font-size: 14px !important;
  font-weight: 500;
}

.font_patient_infor {
  color: grey !important;
  font-size: 11px !important;
}

@media (min-width: 1281px) {
  .font_patient_title {
    color: black !important;
    font-size: 14px !important;
    font-weight: 500;
  }

  .font_patient_infor {
    color: grey !important;
    font-size: 11px !important;
  }

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .font_patient_title {
    color: black !important;
    font-size: 14px !important;
    font-weight: 500;
  }

  .font_patient_infor {
    color: grey !important;
    font-size: 11px !important;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .font_patient_title {
    color: black !important;
    font-size: 12px !important;
    font-weight: 500;
  }

  .font_patient_infor {
    color: grey !important;
    font-size: 10px !important;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .font_patient_title {
    color: black !important;
    font-size: 12px !important;
    font-weight: 500;
  }

  .font_patient_infor {
    color: grey !important;
    font-size: 10px !important;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .font_patient_title {
    color: black !important;
    font-size: 12px !important;
    font-weight: 500;
  }

  .font_patient_infor {
    color: grey !important;
    font-size: 10px !important;
  }
}

mat-list.scrollable-list {
  flex: 1 auto;
  height: 100%;
  overflow-y: scroll;
}
