<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>


    <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
            <h3 class="custom-font-style remove-margin-padding">Consult Doctor Online</h3>
            <p class="custom-font-style remove-margin-padding">Login Through your registered phone number</p>


            <mat-spinner diameter="30" strokeWidth="3" *ngIf="showProgressBar" style="margin-top: 15px"></mat-spinner>
            <button *ngIf="!showProgressBar" mat-button class="filled_button medimetry-oauth-button"
                    onFailure="failedRecievedUserData"
                    onSuccess="successfullyRecievedUserData"
                    style="margin-top: 15px">
                Login
            </button>

        </mat-card-content>

    </mat-card>


</div>
