<h1 mat-dialog-title class="line">
    Appointment Details
    <span>
        <mat-icon (click)="dialogRef.close()" style="cursor: pointer;float: right;">close</mat-icon>
    </span>
</h1>
<div mat-dialog-content id="Appointments">
    <div>
        <p class="m-0">Name : <span class="details"> Praveen Kumar</span></p>
        <p class="m-0">Age : <span class="details"> 24</span></p>
        <p class="m-0">Gender : <span class="details"> M</span></p>
        <p class="m-0">UID : <span class="details"> #9090MJ007</span></p>

        <mat-chip-list aria-label="Fish selection">
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected>Primary fish</mat-chip>
            <mat-chip color="" selected>Accent fish</mat-chip>
        </mat-chip-list>
        <br>
        <!-- <mat-form-field>
            <mat-label>Autosize textarea</mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
        </mat-form-field> -->
        <textarea name="" id="" cols="30" rows="4" class="notes" placeholder="Patient Notes"></textarea>
    </div>

    <button mat-button class="l-height" color="green">Go To Shop</button>
    <button mat-button class="l-height">View this patient appointments</button>
    <button mat-button class="l-height">Accept</button>
    <button mat-button class="l-height">Reschedule</button>
    <button mat-button class="l-height">Regret</button>

</div>